nav {
  display: flex;
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  padding: 1.5em;
  width: 100vw;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
}


nav span {
  font-family: 'Bungee', cursive;
  font-size: xx-large;
}

nav section {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
  text-align: center;
}

nav i.fa-angles-down {
  color: red;
}

.nav, .header {
  position: absolute;
}

.header {
  z-index: 0
}
.nav {
  z-index: 1;
}